<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Overx</a>
        <div class="nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link text-white" href="/account">account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-danger" href="/signout">logout</a>
            </li>
            {% else %}
        
            <li class="nav-item">
              <a href="/signup" class="nav-link text-white">signup</a>
            </li>
            <li class="nav-item">
              <a href="/signin" class="nav-link text-white">signin</a>
            </li>
            {% endif %}
          </ul>
    </div>
    
  
</nav>
